.header {
  height:90px;
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
  

}

.burger {
  width:3%;
}

.logo {
  width:4%;
margin-left:630px;
}

.burger, .logo {
    display: inline-block;
    
}

#navbar{
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: block;
    z-index: 15;
    left: 0;
    right:0;
    opacity: 1;
}
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}




#banner{
  text-align: center;
  background-image: url("https://thumbs.gfycat.com/SevereInsecureJoey-size_restricted.gif");
  background-size: cover;
  background-position: left;
  padding: 100px;
  color: white;
  text-shadow: 1px 1px 5px black;
  height:100vh;
  margin-top:200px;
}
#banner h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}
#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  margin-top: 40px;
}

#banner a{
  margin-top:50px;
}

.card{
  
  font-weight: lighter;
  text-align: left;
  padding: 20px;
  margin-left: 50;
  margin-right: auto;
  width:100%;
  height:100vh;
  line-height: 35px;
}

.card h2{
  width:50%;
  text-align: justify;
}
.card p{
  width:50%;
  margin-top: 40px;
  font-size:20px;
  text-align: justify;
}


.titleBlock__line__block {
    display: block;
    height: 1px;
    background: #f06a39;
    width: 8%;
    margin-top: 50px;
}    
  

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
  font-size: 18;

}



#footer a {
  color: lightgrey;
  font-size: 40px;

}
#footer a:hover {
  color: white;
}

#map {
margin-top: -400px;
}

.card a{
margin-top:20px;
  
}

#container {

display: inline-block;

}


#picture{
  margin-top: 50px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}



#allergenes{
  margin-top: 20px;
margin-left:40px;
}

#geo {
  margin-top: -10px;

margin-left:10px;
}

#map {
   margin-top: _10px;
   margin-left:50px;
   align-content: center;
}
}